# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config 
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer 
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# OS 
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# External disk
.Spotlight-V100
.Trashes

# Directories created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
